/ex05/apachecommons/
/ex05/apachecommons/*
/ex05/ApacheCommons.zip
/ex05/~$lution_100.docx
/solution_100/.classpath
/solution_100/.project
/solution_100/bin/*
/Kaesekaestchen/.classpath
/Kaesekaestchen/.project