/ex05/apachecommons/
/ex05/apachecommons/*
/ex05/ApacheCommons.zip
/ex05/~$lution_100.docx
/solution_100/.classpath
/solution_100/.project
/solution_100/bin/*
/Kaesekaestchen/.classpath
/Kaesekaestchen/.project
/Kaesekaestchen/bin/*
/kaesekaestchen-team100/.classpath
/kaesekaestchen-team100/.project
/kaesekaestchen-team100/target/classes/*
/kaesekaestchen-team100/surefire-reports/*
/kaesekaestchen-team100/test-classes/*